body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #f06, #ffcc00);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 700px;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.SearchBar,
.ItemList {
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #f06;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #f06;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination-controls button:hover {
  background-color: #ff5714;
  transform: translateY(-3px);
}

.pagination-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
